body,
html {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;

    background: url(header.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
 };

.buffer {
    height: 10rem;
}

hr {
    margin: 20px auto;
    color: #F05F44;
    border: 3px solid #F05F44;
    max-width: 65px;
    opacity: 1;  
}

.buffer {
    height: 10rem;
}

.btn {
    font-weight: 700;
    border-radius: 300px;
    text-transform: uppercase;
}

.btn-xl {
    
    padding: 1rem 2rem;
}

.btn-primary {
    background-color:darkorange;
    border-color:gold;
}

.btn-primary:hover {
    background-color: crimson;
    border-color: gold;
    border-width: 4px;
}

h1 {
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
    
}

